      #tableStatsDiv
      {
         position: relative;
         padding-bottom: 20px;
         width: 100%;
      }

      #tableStatsTeachers {
         border-collapse: collapse;
         margin-left: auto;
         margin-right: auto;
         width: 100%;
         text-align: center;
         position: relative;
      }

      #tableStatsTeachers tr
      {
         font-weight: normal;
         font-size:small;

      }
      #tableStatsTeachers tr:nth-child(even)
      {
         background-color:#FAF5FB;

      }
      #tableStatsTeachers thead
      {
         border-bottom: 1px solid black;
         font-weight: normal;
         font-size: medium;
         
      }
      #tableStatsDiv h2
      {
         font-weight:bold;
         margin-left: auto;
         margin-right: auto;
         text-align: center;
      }

      .tableHeading
      {
         font-weight: normal;
         font-size: medium;
         padding: 5px 5px 5px 5px;
         margin-bottom: 5px;
         width: 20%;
      }
      .tableHeading:hover
      {
         font-weight: normal;
         font-size:medium;
         padding: 5px 5px 5px 5px;
         margin-bottom: 5px;
         width: 20%;
         background-color: #FAFAFA;
         border-bottom: 3px solid black;
      }
      .tableHeading:hover::after
      {
         content: '↑';
         color:#50A5C9;
      }
      .tableHeadingActiveAsceOrder
      {
         font-weight: normal;
         font-size:medium;
         padding: 5px 5px 5px 5px;
         margin-bottom: 5px;
         width: 20%;
         background-color: #FAFAFA;
         border-bottom: 3px solid black;
      }
      .tableHeadingActiveAsceOrder::after
      {
         content: '↑';
         color:#50A5C9;
      }
      .tableHeadingActiveAsceOrder:hover
      {
         font-weight: normal;
         font-size:medium;
         padding: 5px 5px 5px 5px;
         margin-bottom: 5px;
         width: 20%;
         background-color: #FAFAFA;
         border-bottom: 3px solid black;
      }
      .tableHeadingActiveAsceOrder:hover::after
      {
         content: '↓';
         color:#50A5C9;
      }
      .tableHeadingActiveDescOrder
      {
         font-weight: normal;
         font-size:medium;
         padding: 5px 5px 5px 5px;
         margin-bottom: 5px;
         width: 20%;
         background-color: #FAFAFA;
         border-bottom: 3px solid black;  
      }
      .tableHeadingActiveDescOrder::after
      {
         content: '↓';
         color:#50A5C9;
      }
      .tableHeadingActiveDescOrder:hover
      {
         font-weight: normal;
         font-size:medium;
         padding: 5px 5px 5px 5px;
         margin-bottom: 5px;
         width: 20%;
         background-color: #FAFAFA;
         border-bottom: 3px solid black;  
      }
      .tableHeadingActiveDescOrder:hover::after
      {
         content: '';
         color:#50A5C9;
      }
      .fullWebsite
      {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
      }
      #tableStatsDiv td{
         padding: 8px 0px 8px 0px;
      }
      .tableNavigationButtons
      {
        margin-top: 15px;
        margin-bottom: 15px;
      }
      .tableNavigationButton
      {
          background-color: white;
          outline: none;
          border-width: 0px;
          color: #12A19F;
      }
      .tableButtonArrow
      {
         background-color: white;
        
         border-width: 0px;
         color: #12A19F;
      }
      
      .TableButtonPrev::after
      {
         content: "<";
      }
      .TableButtonNext::after
      {
         content: ">";
      }
      .tableNavigationButton:hover
      {
         cursor: pointer;
      }
      .rangeNavigationButton
      {       
         background-color: white;
         outline: none;
         border-width: 0px;
         color: #000;
      }
      .tableNavigationButtonSelected
      {
         background-color: white;
         outline: none;
         border-width: 0px;
         color: #000;
      }
      .tableNavigationButton:active
      {
        color: #000;
      }
      .favouriteTeachersNavigationButton
      {
        width: 0px;
        height: 0px;
        background-color: white;
        border-top: 30px solid transparent;
        border-right: 20px solid #555;
        border-bottom: 30px solid transparent;
        position: absolute;
      }
      .tableNavigationButtonsWrap
      {
         display: flex;
         flex-direction: row;
      }
